updated Automation 2.json
{
  "name": "Automation 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        0
      ],
      "id": "4c35711d-a546-4b0d-b728-c133a17d7d70",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss?hl=hi&gl=IN&ceid=IN:hi",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        256,
        0
      ],
      "id": "749717ff-0826-436a-add2-a8aaa29ea61b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        464,
        0
      ],
      "id": "9a653013-4040-490d-9a78-7225a47e83ae",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are a News Expert. I will provide a list of news titles and content. Your job is to generate a summary for each news item in the following EXACT format.\n\nFormat:\n🔴 [English Headline]\n📝 Summary: [2-line easy English summary]\n\nStrict Rules:\n\nNO introductory or closing text (e.g., Don't say \"I will follow your instructions\" or \"Here is your summary\").\n\nONLY provide the news in the requested format.\n\nLanguage must be 100% English.\n\nKeep a one-line gap between each news item.\n\nTotal message must be under 2000 characters.\n\nDo not ask the user for anything; use the data provided from previous nodes.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "={{ $json.title }} "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1136,
        0
      ],
      "id": "58b7a2fa-3ce2-4f4e-830b-701a559b37b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "title"
            },
            {
              "fieldToAggregate": "link"
            },
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        0
      ],
      "id": "90acbea3-5527-4da0-a3f1-a55319aab5cf",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=1035351952993516",
        "recipientPhoneNumber": "917489549755",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1504,
        0
      ],
      "id": "d332ce66-f40d-44f9-a493-b0cb0fa3f1d4",
      "name": "Send message",
      "webhookId": "bd142cca-84c8-4f23-87f2-fe575cc8e2de",
      "credentials": {
        "whatsAppApi": {
          "id": "gn36r5mJ9fcBG7nA",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1136,
        272
      ],
      "id": "00776382-9612-4fa5-9e29-901600296588",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "mNWjXvUGMtG200dp",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3793dbe4-b4b4-48a3-a819-8d0a1e1e8861",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ca91069cb038d15a5de5c57051efffe5bba4ec1b77dfd6661da60e1d4fa5c451"
  },
  "id": "wYWHlKegaGs9LyIA",
  "tags": []
}